.quiz
{
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    
background: rgba(255, 255, 255, 0.29);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(4.8px);
border: 1px solid rgb(207, 204, 204);

/*   
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  
  background-color: rgba(255, 255, 255, .15);
  
  backdrop-filter: blur(5px); */
}
.head:hover
{
    color: orangered;
    cursor:no-drop;
}
.cont:after
{
    /* content: 'Java Quiz'; */
    color: rgb(68, 0, 255);
    font-size: larger;
    font-weight: bolder;
}
.quiz ul li{
    display: flex;
    max-width: anchor-size(--myAnchor inline, 295px);
    
    list-style: none;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    width: 430px;
    padding: 10px;
    letter-spacing: 1px;
    justify-content: center;
    border-radius: 30px;

}
@media only screen and (max-width: 700px) {
    .quiz ul li{
    width: 350px;
    }
}
.quiz ul li:hover
{
    background-color: rgb(71,33,71);
    color: #cccccc;
    cursor: pointer;
    
}

.quiz button
{
    height: 30px;
    width: 140px;
    margin: 9px;
    cursor: pointer;
    border: 1px  inset;
    border-radius: 20px;
    background-color:  #16c0a9 ;
    box-shadow:0px 1px 8px  inset rgb(42, 87, 38), 2px 2px 8px inset rgb(184, 230, 60) ;
}





.quiz button:hover
{           
            color: #111;
            background: #39ff14;
            box-shadow: 0 0 50px #39ff14;
     animation: btn 3s infinite;       
}
@keyframes btn {
    0%{border-top: solid rgb(235, 204, 31); border-left:  solid chartreuse; border-right: solid yellow; border-bottom:  solid orangered; }
    50%{border-top: solid rgb(10, 228, 57); border-left:  solid rgb(42, 12, 209); border-right: solid rgb(216, 54, 54); border-bottom:  solid rgb(193, 32, 199); }
}
.bod
{
    color: rgb(10, 167, 4);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    line-height: 60px;
    font-size: larger;
    font-weight: bolder;
    text-decoration:underline;
    text-shadow: 2px 1px orangered;
    
}
.correct
{
    background: #39ff14;
}
.incorrect
{
    background: red;
}
